$primaryLight: #f4f4f3;
$primaryDark: #121113;

$accentDark: #353537;
$accentOne: #93c3f5;
$accentTwo: #86c2b6;
$accentThree: #f5c881;
$accentFour: #ffb2b2;
$accentFive: #bdb2ff;
$accentSix: #cbb7ac;
$accentSeven: #95d991;

$highlightOne: #004da2;
$highlightTwo: #29a525;
$highlightThree: #f37684;

$outline: #e4ebf8;

$screen-md: 610px;
$screen-lg: 1115px;

$shadow: 0 4px 8px 0 RGB(0 0 0/20%), 0 6px 20px 0 RGB(0 0 0/19%);
$shadowLight: 0 4px 8px 0 RGB(0 0 0/3%), 0 6px 20px 0 RGB(0 0 0/2%);

$pHeight: 405vh;
$s1H: 100vh;
$s2H: 105vh;
$s3H: 165vh;

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');
$amatic: 'Amatic SC', cursive;
$rubik: 'Rubik', sans-serif;
$lobster: 'Lobster Two', cursive;
$raleway: 'Raleway', sans-serif;
$inter: 'Inter', sans-serif;
/* MIXINS */
@mixin screen-md {
  @media only screen and (min-width: $screen-md) {
    @content;
  }
}

@mixin screen-lg {
  @media only screen and (min-width: $screen-lg) {
    @content;
  }
}

@mixin flexCenter {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

:root {
  font-size: 1rem;
}

html,
body {
  background-color: $primaryLight;
  box-sizing: border-box;
  font-family: $rubik;
  font-size: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  width: 100%;
}

h2 {
  font-weight: 0;
}

a {
  cursor: pointer;
  //color: $primaryDark;
  text-decoration: none;
}


a:hover,
a:focus {
  font-weight: bold;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid $primaryLight;
}

td,
th {
  border: 1px solid $primaryLight;
  padding: 5px;
}

// BUTTON STYLES
@mixin buttonBase($bgColor, $txtColor, $brdrColor) {
  background-color: $bgColor;
  border-radius: 20px;
  border: 2px solid $brdrColor;
  box-shadow: $shadowLight;
  color: $txtColor;
  cursor: pointer;
  font-family: $inter;
  font-size: 0.9rem;
  line-height: 2rem;
  padding: 0px 20px;
  width: fit-content;
}

.button-primaryLight-accentOne {
  @include buttonBase($primaryLight, $primaryDark, $accentOne);
}

.button-primaryLight-accentTwo {
  @include buttonBase($primaryLight, $primaryDark, $accentTwo);
}

.button-primaryLight-accentThree {
  @include buttonBase($primaryLight, $accentThree, $accentThree);
}

.button-primaryLight-highlightOne {
  @include buttonBase($primaryLight, $highlightOne, $highlightOne);
}

.button-primaryDark-noBorder {
  @include buttonBase($primaryDark, $primaryLight, transparent);
  border: none;
}

.button-primaryDark-accentOne {
  @include buttonBase($primaryDark, $primaryLight, $accentOne);
}

.button-primaryDark-accentTwo {
  @include buttonBase($primaryDark, $primaryLight, $accentTwo);
}

.button-primaryDark-accentThree {
  @include buttonBase($primaryDark, $primaryLight, $accentThree);
}

.button-accentOne-primaryLight {
  @include buttonBase($accentOne, $primaryLight, $accentOne);
}

.button-accentTwo-primaryLight {
  @include buttonBase($accentTwo, $primaryLight, $accentTwo);
}

.button-accentThree-primaryLight {
  @include buttonBase($accentThree, $primaryLight, $accentThree);
}

.button-accentOne-primaryDark {
  @include buttonBase($accentOne, $primaryDark, $accentOne);
}

.button-accentTwo-primaryDark {
  @include buttonBase($accentTwo, $primaryDark, $accentTwo);
}

.button-accentThree-primaryDark {
  @include buttonBase($accentThree, $primaryDark, $accentThree);
}

.button-highlightOne-primaryLight {
  @include buttonBase($highlightOne, $primaryLight, $highlightOne);
}

.removeButton {
  background: $highlightThree;
  border-radius: 20px;
  border: none;
  color: $primaryLight;
  cursor: pointer;
  font-family: $inter;
  font-size: 0.8em;
  line-height: 1.8rem;
  margin: 0;
  padding: 0 10px;
}

.button:hover,
.removeButton:hover,
.button-primaryLight-accentOne:hover,
.button-primaryLight-accentTwo:hover,
.button-primaryLight-accentThree:hover,
.button-primaryLight-highlightOne:hover,
.button-primaryDark-accentOne:hover,
.button-primaryDark-accentTwo:hover,
.button-primaryDark-accentThree:hover,
.button-primaryDark-highlightOne:hover,
.button-accentOne-primaryLight:hover,
.button-accentTwo-primaryLight:hover,
.button-accentThree-primaryLight:hover,
.button-accentOne-primaryDark:hover,
.button-accentTwo-primaryDark:hover,
.button-accentThree-primaryDark:hover,
.button-highlightOne-primaryLight:hover,
.button-primaryDark-noBorder:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
}

.labelButton {
  border-radius: 4px;
  border: $accentOne 1px solid;
  color: $primaryLight;
  cursor: pointer;
  padding: 5px;
}

// FORM STYLES
.form-title {
  font-size: 1.5rem;
  margin-bottom: 25px;
}

.form-in {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;
}

.form-label {
  border-radius: 4px;
  box-sizing: border-box;
  color: $primaryDark;
  padding-bottom: 10px;
}

.form-control {
  border-radius: 4px;
  border: medium solid $accentDark;
  border: none;
  box-sizing: border-box;
  color: $primaryDark;
  line-height: 2rem;
  width: 100%;
}

.alert,
.error-feedback {
  /* align-self: center; */
  background: $accentDark;
  border-radius: 4px;
  box-sizing: border-box;
  color: $primaryLight;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 5px;
  text-align: left;
  width: 100%;
}

.form-submit {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
// SCROLL BAR
html::-webkit-scrollbar {
  background-color: $primaryLight;
  width: 10px;
}

html::-webkit-scrollbar-thumb {
  background-color: $accentDark;
  border-radius: 4px 0 0 4px;
}

.scrollContainer::-webkit-scrollbar {
  background-color: $primaryLight;
  border-left: medium solid $accentDark;
  border-radius: 0 6px 6px 0;
  width: 8px;
}

.scrollContainer::-webkit-scrollbar-thumb {
  background-color: $accentDark;
  border-left: medium solid $accentDark;
  border-radius: 0 4px 4px 0;
}

// COMPONENT STYLES
.backArrow {
  filter: drop-shadow(2px 3px 3px rgba(0, 0, 0, 0.3));
  left: 10px;
  max-width: 1.5rem;
  position: absolute;
  top: 10px;
  z-index: 2;
}

.modalBackground {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 4;
}

.card {
  background-color: $primaryLight;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 RGB(0 0 0/20%), 0 6px 20px 0 RGB(0 0 0/19%);
  color: $primaryDark;
  height: fit-content;
  margin: 15px auto;
  max-width: 80%;
  padding-bottom: 5px;
  width: 400px;
}

.navLink {
  border: 2px solid transparent;
  color: $primaryLight;
}

.navLink:hover {
  border-bottom: 2px solid $highlightTwo;
}

.sideBarLink {
  display: flex;
  flex-direction: column;
  height: 1.8rem;
  justify-content: center;
}

.sideBarLink:hover {
  background: $outline;
  border: 2px solid transparent;
}
