$lightShade: #F5F5F5;
$accentShade: #353131;
$darkShade: #232121;
$accentOne: #09725F;
$accentTwo: #F1E788;
$accentThree: #ADECFA;


$screen-md: 610px;
$screen-lg: 1115px;

$pHeight: 405vh;
$s1H: 100vh;
$s2H: 105vh;
$s3H: 165vh;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
$robotoSlab: 'Roboto Slab', serif;


/* MIXINS */
@mixin screen-md {
    @media only screen and (min-width:
    $screen-md) {
        @content;
    }
}

@mixin screen-lg {
    @media only screen and (min-width:
    $screen-lg) {
        @content;
    }
}

@mixin flexCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

:root {
    font-size: 5vw;
}

html, body {
    font-family: $robotoSlab;
    margin: 0;
    max-width: 100%;
    scroll-behavior: smooth;
    background-color: $darkShade;
}

h2 {
    font-weight: 0;
}

a {
    color: $lightShade;
    text-decoration: none;
}
  
a:hover, a:focus {
    color: $accentThree;
}

fieldset {
    padding: 0;
    margin: 0;
    border: none;
  }

.card {
    background-color: $accentShade;
    border-radius: 4px;
    height: fit-content;
    width: 15em;
    margin: 100px auto;
    padding-bottom: 5px;
    box-shadow: 0 4px 8px 0 RGB(0 0 0/20%), 0 6px 20px 0 RGB(0 0 0/19%);
}

.button-primary {
    background-color: $accentOne;
    color: $lightShade;
    border-radius: 4px;
    border: none;
    padding: 8px;
}
