@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
/* MIXINS */
:root {
  font-size: 1rem;
}

html,
body {
  background-color: #f4f4f3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-size: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  width: 100%;
}

h2 {
  font-weight: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:hover,
a:focus {
  font-weight: bold;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #f4f4f3;
}

td,
th {
  border: 1px solid #f4f4f3;
  padding: 5px;
}

.button-primaryLight-accentOne {
  background-color: #f4f4f3;
  border-radius: 20px;
  border: 2px solid #93c3f5;
  -webkit-box-shadow: 0 4px 8px 0 RGB(0 0 0/3%), 0 6px 20px 0 RGB(0 0 0/2%);
          box-shadow: 0 4px 8px 0 RGB(0 0 0/3%), 0 6px 20px 0 RGB(0 0 0/2%);
  color: #121113;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  line-height: 2rem;
  padding: 0px 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.button-primaryLight-accentTwo {
  background-color: #f4f4f3;
  border-radius: 20px;
  border: 2px solid #86c2b6;
  -webkit-box-shadow: 0 4px 8px 0 RGB(0 0 0/3%), 0 6px 20px 0 RGB(0 0 0/2%);
          box-shadow: 0 4px 8px 0 RGB(0 0 0/3%), 0 6px 20px 0 RGB(0 0 0/2%);
  color: #121113;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  line-height: 2rem;
  padding: 0px 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.button-primaryLight-accentThree {
  background-color: #f4f4f3;
  border-radius: 20px;
  border: 2px solid #f5c881;
  -webkit-box-shadow: 0 4px 8px 0 RGB(0 0 0/3%), 0 6px 20px 0 RGB(0 0 0/2%);
          box-shadow: 0 4px 8px 0 RGB(0 0 0/3%), 0 6px 20px 0 RGB(0 0 0/2%);
  color: #f5c881;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  line-height: 2rem;
  padding: 0px 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.button-primaryLight-highlightOne {
  background-color: #f4f4f3;
  border-radius: 20px;
  border: 2px solid #004da2;
  -webkit-box-shadow: 0 4px 8px 0 RGB(0 0 0/3%), 0 6px 20px 0 RGB(0 0 0/2%);
          box-shadow: 0 4px 8px 0 RGB(0 0 0/3%), 0 6px 20px 0 RGB(0 0 0/2%);
  color: #004da2;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  line-height: 2rem;
  padding: 0px 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.button-primaryDark-noBorder {
  background-color: #121113;
  border-radius: 20px;
  border: 2px solid transparent;
  -webkit-box-shadow: 0 4px 8px 0 RGB(0 0 0/3%), 0 6px 20px 0 RGB(0 0 0/2%);
          box-shadow: 0 4px 8px 0 RGB(0 0 0/3%), 0 6px 20px 0 RGB(0 0 0/2%);
  color: #f4f4f3;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  line-height: 2rem;
  padding: 0px 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: none;
}

.button-primaryDark-accentOne {
  background-color: #121113;
  border-radius: 20px;
  border: 2px solid #93c3f5;
  -webkit-box-shadow: 0 4px 8px 0 RGB(0 0 0/3%), 0 6px 20px 0 RGB(0 0 0/2%);
          box-shadow: 0 4px 8px 0 RGB(0 0 0/3%), 0 6px 20px 0 RGB(0 0 0/2%);
  color: #f4f4f3;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  line-height: 2rem;
  padding: 0px 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.button-primaryDark-accentTwo {
  background-color: #121113;
  border-radius: 20px;
  border: 2px solid #86c2b6;
  -webkit-box-shadow: 0 4px 8px 0 RGB(0 0 0/3%), 0 6px 20px 0 RGB(0 0 0/2%);
          box-shadow: 0 4px 8px 0 RGB(0 0 0/3%), 0 6px 20px 0 RGB(0 0 0/2%);
  color: #f4f4f3;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  line-height: 2rem;
  padding: 0px 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.button-primaryDark-accentThree {
  background-color: #121113;
  border-radius: 20px;
  border: 2px solid #f5c881;
  -webkit-box-shadow: 0 4px 8px 0 RGB(0 0 0/3%), 0 6px 20px 0 RGB(0 0 0/2%);
          box-shadow: 0 4px 8px 0 RGB(0 0 0/3%), 0 6px 20px 0 RGB(0 0 0/2%);
  color: #f4f4f3;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  line-height: 2rem;
  padding: 0px 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.button-accentOne-primaryLight {
  background-color: #93c3f5;
  border-radius: 20px;
  border: 2px solid #93c3f5;
  -webkit-box-shadow: 0 4px 8px 0 RGB(0 0 0/3%), 0 6px 20px 0 RGB(0 0 0/2%);
          box-shadow: 0 4px 8px 0 RGB(0 0 0/3%), 0 6px 20px 0 RGB(0 0 0/2%);
  color: #f4f4f3;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  line-height: 2rem;
  padding: 0px 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.button-accentTwo-primaryLight {
  background-color: #86c2b6;
  border-radius: 20px;
  border: 2px solid #86c2b6;
  -webkit-box-shadow: 0 4px 8px 0 RGB(0 0 0/3%), 0 6px 20px 0 RGB(0 0 0/2%);
          box-shadow: 0 4px 8px 0 RGB(0 0 0/3%), 0 6px 20px 0 RGB(0 0 0/2%);
  color: #f4f4f3;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  line-height: 2rem;
  padding: 0px 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.button-accentThree-primaryLight {
  background-color: #f5c881;
  border-radius: 20px;
  border: 2px solid #f5c881;
  -webkit-box-shadow: 0 4px 8px 0 RGB(0 0 0/3%), 0 6px 20px 0 RGB(0 0 0/2%);
          box-shadow: 0 4px 8px 0 RGB(0 0 0/3%), 0 6px 20px 0 RGB(0 0 0/2%);
  color: #f4f4f3;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  line-height: 2rem;
  padding: 0px 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.button-accentOne-primaryDark {
  background-color: #93c3f5;
  border-radius: 20px;
  border: 2px solid #93c3f5;
  -webkit-box-shadow: 0 4px 8px 0 RGB(0 0 0/3%), 0 6px 20px 0 RGB(0 0 0/2%);
          box-shadow: 0 4px 8px 0 RGB(0 0 0/3%), 0 6px 20px 0 RGB(0 0 0/2%);
  color: #121113;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  line-height: 2rem;
  padding: 0px 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.button-accentTwo-primaryDark {
  background-color: #86c2b6;
  border-radius: 20px;
  border: 2px solid #86c2b6;
  -webkit-box-shadow: 0 4px 8px 0 RGB(0 0 0/3%), 0 6px 20px 0 RGB(0 0 0/2%);
          box-shadow: 0 4px 8px 0 RGB(0 0 0/3%), 0 6px 20px 0 RGB(0 0 0/2%);
  color: #121113;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  line-height: 2rem;
  padding: 0px 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.button-accentThree-primaryDark {
  background-color: #f5c881;
  border-radius: 20px;
  border: 2px solid #f5c881;
  -webkit-box-shadow: 0 4px 8px 0 RGB(0 0 0/3%), 0 6px 20px 0 RGB(0 0 0/2%);
          box-shadow: 0 4px 8px 0 RGB(0 0 0/3%), 0 6px 20px 0 RGB(0 0 0/2%);
  color: #121113;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  line-height: 2rem;
  padding: 0px 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.button-highlightOne-primaryLight {
  background-color: #004da2;
  border-radius: 20px;
  border: 2px solid #004da2;
  -webkit-box-shadow: 0 4px 8px 0 RGB(0 0 0/3%), 0 6px 20px 0 RGB(0 0 0/2%);
          box-shadow: 0 4px 8px 0 RGB(0 0 0/3%), 0 6px 20px 0 RGB(0 0 0/2%);
  color: #f4f4f3;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  line-height: 2rem;
  padding: 0px 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.removeButton {
  background: #f37684;
  border-radius: 20px;
  border: none;
  color: #f4f4f3;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-size: 0.8em;
  line-height: 1.8rem;
  margin: 0;
  padding: 0 10px;
}

.button:hover,
.removeButton:hover,
.button-primaryLight-accentOne:hover,
.button-primaryLight-accentTwo:hover,
.button-primaryLight-accentThree:hover,
.button-primaryLight-highlightOne:hover,
.button-primaryDark-accentOne:hover,
.button-primaryDark-accentTwo:hover,
.button-primaryDark-accentThree:hover,
.button-primaryDark-highlightOne:hover,
.button-accentOne-primaryLight:hover,
.button-accentTwo-primaryLight:hover,
.button-accentThree-primaryLight:hover,
.button-accentOne-primaryDark:hover,
.button-accentTwo-primaryDark:hover,
.button-accentThree-primaryDark:hover,
.button-highlightOne-primaryLight:hover,
.button-primaryDark-noBorder:hover {
  -webkit-box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
          box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
}

.labelButton {
  border-radius: 4px;
  border: #93c3f5 1px solid;
  color: #f4f4f3;
  cursor: pointer;
  padding: 5px;
}

.form-title {
  font-size: 1.5rem;
  margin-bottom: 25px;
}

.form-in {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;
}

.form-label {
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #121113;
  padding-bottom: 10px;
}

.form-control {
  border-radius: 4px;
  border: medium solid #353537;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #121113;
  line-height: 2rem;
  width: 100%;
}

.alert,
.error-feedback {
  /* align-self: center; */
  background: #353537;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #f4f4f3;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 5px;
  text-align: left;
  width: 100%;
}

.form-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

html::-webkit-scrollbar {
  background-color: #f4f4f3;
  width: 10px;
}

html::-webkit-scrollbar-thumb {
  background-color: #353537;
  border-radius: 4px 0 0 4px;
}

.scrollContainer::-webkit-scrollbar {
  background-color: #f4f4f3;
  border-left: medium solid #353537;
  border-radius: 0 6px 6px 0;
  width: 8px;
}

.scrollContainer::-webkit-scrollbar-thumb {
  background-color: #353537;
  border-left: medium solid #353537;
  border-radius: 0 4px 4px 0;
}

.backArrow {
  -webkit-filter: drop-shadow(2px 3px 3px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(2px 3px 3px rgba(0, 0, 0, 0.3));
  left: 10px;
  max-width: 1.5rem;
  position: absolute;
  top: 10px;
  z-index: 2;
}

.modalBackground {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 4;
}

.card {
  background-color: #f4f4f3;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 8px 0 RGB(0 0 0/20%), 0 6px 20px 0 RGB(0 0 0/19%);
          box-shadow: 0 4px 8px 0 RGB(0 0 0/20%), 0 6px 20px 0 RGB(0 0 0/19%);
  color: #121113;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 15px auto;
  max-width: 80%;
  padding-bottom: 5px;
  width: 400px;
}

.navLink {
  border: 2px solid transparent;
  color: #f4f4f3;
}

.navLink:hover {
  border-bottom: 2px solid #29a525;
}

.sideBarLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 1.8rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sideBarLink:hover {
  background: #e4ebf8;
  border: 2px solid transparent;
}
/*# sourceMappingURL=global.css.map */